@page "/activities/{activityID}"
@inject HttpClient Http
@using Models
@using Constants

@functions {
  [Parameter]
  string activityID { get; set; }

  private Models.Activity activity { get; set; }

  protected override async Task OnInitAsync()
  {
    activity = await Http.GetJsonAsync<Models.Activity>(RouteConstants.apiActivities + activityID);
  }
}

@if (activity == null)
{
  <div>Loading...</div>
}
else 
{
  <div class="activity">
    <div
      class="inner_activity_wrapper"
    >
    <img
      src="@(RouteConstants.apiRoot + activity.Picture.url)"
      class="activity_image"
    />
    </div>
    <h2>
      @activity.Title
    </h2>
    <p>
      @activity.Description
    </p>
  </div>
}