@page "/"
@inject HttpClient Http
@using Models


@functions {
  //add back @using Models
    private Activity[] activities { get; set; }

    protected override async Task OnInitAsync()
    {
      var response = await Http.GetStringAsync("http://ec2-52-91-254-158.compute-1.amazonaws.com/activities");
      Console.WriteLine(response);

      activities = await Http.GetJsonAsync<Activity[]>("http://ec2-52-91-254-158.compute-1.amazonaws.com/activities");
      //Console.WriteLine(secondResponse);

      foreach(Activity activity in activities) {
        Console.WriteLine("Here is an activity: " + activity.Title);
      }
    }
}

@if (activities == null)
{
  <div>Loading...</div>
}
else
{
  @foreach (Activity activity in activities)
  {
    <div>@activity.Title</div>
  }
}