@page "/"
@inject HttpClient Http
@using Models
@using Constants

@functions {
  private Activity[] activities { get; set; } 

  //Get the list of activities when the index page first loads
  protected override async Task OnInitAsync()
  {
    activities = await Http.GetJsonAsync<Activity[]>(RouteConstants.apiActivities);
  }
}

@if (activities == null)
{
  <div>Loading...</div>
}
else
{
  <div class="activityGrid">
    @foreach (Models.Activity activity in activities) 
    {
      <ActivityComponent activity=@activity />
    }
  </div>
}