@page "/"
@inject HttpClient Http
@using Models
@using Constants

@functions {
    private Models.Activity[] activities { get; set; } 

    protected override async Task OnInitAsync()
    {
      activities = await Http.GetJsonAsync<Models.Activity[]>(RouteConstants.apiActivities);
    }
}

@if (activities == null)
{
  <div>Loading...</div>
}
else
{
  @foreach (Models.Activity activity in activities) 
  {
    <div class="activity">
        <a href="/activities/@activity.id">
          <div
            style="overflow-y:hidden;height:200px"
          >
            <img
              src="@(RouteConstants.apiRoot + activity.Picture.url)"
              height="auto"
              width="100%"
            />
          </div>
        </a>
      <br />
      @activity.Title
    </div>
  }
}