@page "/"
@inject HttpClient Http
@using Models


@functions {
    private string url = "http://ec2-52-91-254-158.compute-1.amazonaws.com";
    private Activity[] activities { get; set; } 

    protected override async Task OnInitAsync()
    {
      activities = await Http.GetJsonAsync<Activity[]>(url + "/activities");
    }
}

@if (activities == null)
{
  <div>Loading...</div>
}
else
{
  @foreach (Activity activity in activities)
  {
    <div class="activity">
        <div
          style="overflow-y:hidden;height:200px"
        >
          <img
            src="@(url + activity.Picture.url)"
            height="auto"
            width="100%"
          />
        </div>
      <br />
      @activity.Title
    </div>
  }
}