<nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark navbar-custom">
  <a class="navbar-brand" href="#">Richmond Virginia Fun</a>
  <div class="collapse  navbar-collapse" id="navbarSupportedContent">
  </div>
</nav>